$color: #fff;
$background: #212431;
$paddingRight: 8px;
$fontSize: 30px;
$paddingWidth: 4px;
$borderRadius: 50px;
$h2tagFontSize: 34px;
$ptagFontSize: 17px;
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "Roboto", sans-serif;
  // font-family: "Poppins", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.padLeft {
  padding-left: 0px;
  padding-right: 0px;
  @media screen and (max-width: 996px) {
    padding-left: 0px;
    padding-right: 0px;
  }
}
header {
  background-color: #040b14;
  height: 100vh;
  width: 25%;
  position: fixed;
  @media screen and (max-width: 967px) {
    height: 75px;
    width: 100%;
    position: static;
  }
  .navbar {
    display: block;
    justify-content: center;
    a {
      text-decoration: none;
      .profileDiv {
        width: 45%;
        margin: 20px auto;
        @media screen and (max-width: 320px) {
          width: 20%;
          margin: -4px auto;
          position: absolute;
          left: 40px;
        }
        @media screen and (min-width: 321px) and (max-width: 420px) {
          width: 17%;
          margin: -4px auto;
          position: absolute;
          left: 40px;
        }
        @media screen and (min-width: 421px) and (max-width: 567px) {
          width: 16%;
          margin: -4px auto;
          position: absolute;
          left: 40px;
        }
        @media screen and (min-width: 600px) and (max-width: 768px) {
          width: 9%;
          margin: -5px auto;
          position: absolute;
          left: 40px;
        }
        .profileImage {
          width: 100%;
          margin: 0 auto;
          border-radius: 50%;
        }
      }
      .logo {
        color: #fff;
        text-align: center;
        font-size: 30px;
        margin-top: 12px;
        @media screen and (max-width: 996px) {
          display: none;
          position: absolute;
          top: 15px;
          left: 35px;
        }
      }
    }
    .socilaIcons {
      text-align: center;
      margin-top: 14px;
      @media screen and (max-width: 967px) {
        text-align: center;
        margin-top: 14px;
        position: absolute;
        bottom: 12px;
        left: 12%;
      }
      @media screen and (min-width: 600px) and (max-width: 768px) {
        left: 5%;
      }
      .faTwitter {
        color: $color;
        background-color: $background;
        margin-right: $paddingRight;
        font-size: $fontSize;
        padding: $paddingWidth;
        border-radius: $borderRadius;
        &:hover {
          background-color: #149ddd;
          color: #fff;
        }
      }

      .faFacebookF {
        color: $color;
        background-color: $background;
        margin-right: $paddingRight;
        font-size: $fontSize;
        padding: $paddingWidth;
        border-radius: $borderRadius;
        &:hover {
          background-color: #149ddd;
          color: #fff;
        }
      }
      .faInstagramSquare {
        color: $color;
        background-color: $background;
        margin-right: $paddingRight;
        font-size: $fontSize;
        padding: $paddingWidth;
        border-radius: $borderRadius;
        &:hover {
          background-color: #149ddd;
          color: #fff;
        }
      }
      .faSkype {
        color: $color;
        background-color: $background;
        margin-right: $paddingRight;
        font-size: $fontSize;
        padding: $paddingWidth;
        border-radius: $borderRadius;
        &:hover {
          background-color: #149ddd;
          color: #fff;
        }
      }
      .faLinkedinIn {
        color: $color;
        background-color: $background;
        margin-right: $paddingRight;
        font-size: $fontSize;
        padding: $paddingWidth;
        border-radius: $borderRadius;
        &:hover {
          background-color: #149ddd;
          color: #fff;
        }
      }
    }

    .nav-link-mobile {
      @media screen and (max-width: 996px) {
        position: absolute;
        display: block;
        list-style: none;
        background-color: #005469;
        left: 0;
        top: 75px;
        transition: all 1.5s ease-out;
        width: 100%;
        padding-bottom: 60px;
        padding-left: 0px;
        z-index: 9999;
      }
      li {
        @media screen and (max-width: 996px) {
          padding-top: 12px;
        }
        .home,
        .about,
        .resume,
        .portfolio,
        .services {
          @media screen and (max-width: 768px) {
            text-align: center;
            color: #fff !important;
            padding: 0px 0px 0px 40px;
            width: 100%;
            transition: all 1.5s ease;
            font-size: 20px;
          }
        }
      }
    }
    .mt4 {
      margin-top: 60px;
      @media screen and (max-width: 996px) {
        margin-top: 0px;
      }
    }
    .navLinks {
      list-style-type: none;
      padding: 0px 40px 60px 65px;
      margin: 0;
      @media screen and (max-width: 996px) {
        display: none;
      }
      .active {
        color: #fff;
        background: #149ddd;
        padding: 2px;
      }
      li {
        margin-bottom: 20px;
        .home,
        .about,
        .resume,
        .portfolio,
        .services {
          text-decoration: none;
          color: #fff;
          font-size: 20px;
          cursor: pointer;
          .iconUser {
            font-size: 26px;
            vertical-align: sub;
          }
        }
      }
    }
    .mobile-menu-icon {
      display: none;
      @media screen and (max-width: 967px) {
        display: block;
        position: absolute;
        font-size: 25px;
        right: 25px;
        top: 16px;
        background-color: black;
        color: #fff;
        border: none;
        outline: none;
      }
    }
  }
}

//Home page styles start here....

.homeProfile {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  @media screen and (max-width: 567px) {
    background-size: cover;
    height: 100vh;
    background-position: right;
  }
  @media screen and (min-width: 600px) and (max-width: 996px) {
    background-size: cover;
    height: 500px;
  }
  h1 {
    color: #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 30%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 50px;
    @media screen and (max-width: 290px) {
      top: 65%;
      left: 45%;
      font-size: 36px;
    }
    @media screen and (max-width: 567px) and (min-width: 291px) {
      position: absolute;
      top: 65%;
      left: 45%;
      transform: translate(-50%, -50%);
      font-size: 45px;
    }
  }
  .react-typewriter-text {
    color: #fff;
    font-weight: 500;
    font-size: 26px;
    margin-top: 60px;
    border-bottom: 1px solid grey;
    @media screen and (max-width: 567px) {
      font-size: 22px;
      margin-top: 85px;
      // position: absolute;
      // left: 120px;
    }
  }
}

//Home page styles end here

//About page styles start here
.h2 {
  font-size: $h2tagFontSize;
  margin-top: 25px;
  @media screen and (max-width: 567px) {
    font-size: $h2tagFontSize - 10px;
  }
}
img {
  width: 100%;
}
h2:before {
  border-bottom: 3px solid #11b9db;
  content: "";
  position: absolute;
  width: 4%;
  top: 62px;
  @media screen and (max-width: 567px) {
    width: 16%;
    top: 130px;
  }
  @media screen and (min-width: 600px) and (max-width: 996px) {
    width: 6%;
    top: 137px;
  }
}
p {
  text-align: justify;
  font-size: $ptagFontSize;
}
.profileData {
  position: relative;
  top: 0;
  h2 {
    font-size: $h2tagFontSize;
    margin-top: 25px;
    @media screen and (max-width: 567px) {
      font-size: $h2tagFontSize - 10px;
    }
  }
  h2:before {
    border-bottom: 3px solid #11b9db;
    content: "";
    position: absolute;
    width: 60%;
    top: 44px;
    @media screen and (max-width: 567px) {
      width: 43%;
      top: 60px;
    }
    @media screen and (min-width: 600px) and (max-width: 996px) {
      width: 6%;
      top: 130px;
    }
  }
  p {
    text-align: justify;
    font-size: $ptagFontSize;
  }
  .arrowRight {
    color: #11b9db;
    font-size: 30px;
    margin-top: -4px;
  }
}
.factsData {
  position: relative;
  top: 0;
  background-color: #8ebbca;
  padding-bottom: 30px;
  h2 {
    font-size: $h2tagFontSize;
    margin-top: 25px;
    color: #fff;
    @media screen and (max-width: 567px) {
      font-size: $h2tagFontSize - 10px;
    }
  }
  h2:before {
    border-bottom: 3px solid #000;
    content: "";
    position: absolute;
    width: 6%;
    top: 90px;
    @media screen and (max-width: 567px) {
      width: 16%;
      top: 78px;
    }
    @media screen and (min-width: 600px) and (max-width: 996px) {
      width: 6%;
      top: 130px;
    }
  }
  p {
    text-align: justify;
    font-size: $ptagFontSize;
  }
  div {
    .iconBehappy {
      float: left;
      margin-right: 12px;
      font-size: 50px;
      color: #fff;
    }
    span {
      height: 100%;
      display: flow-root;
      h3 {
        font-size: 36px;
        margin-bottom: 0px;
      }
      h4 {
        margin-bottom: 4px;
        font-size: 22px;
      }
    }
  }
}
.skillsData {
  position: relative;
  top: 0;
  background-color: #f5f8fd;
  padding-bottom: 30px;
  h2 {
    font-size: $h2tagFontSize;
    margin-top: 25px;
    color: #000;
    @media screen and (max-width: 567px) {
      font-size: $h2tagFontSize - 10px;
    }
  }
  h2:before {
    border-bottom: 3px solid #11b9db;
    content: "";
    position: absolute;
    width: 6%;
    top: 65px;
    @media screen and (max-width: 567px) {
      width: 16%;
      top: 55px;
    }
    @media screen and (min-width: 600px) and (max-width: 996px) {
      width: 6%;
      top: 130px;
    }
  }
  p {
    text-align: justify;
    font-size: $ptagFontSize;
  }
}
//About page styles end here

//footer page styles start here
.footerData {
  margin-top: -20px;
  h5 {
    text-align: center;
    @media screen and (max-width: 996px) {
      display: none;
    }
  }
}
//footer page styles end here

//Resume page style start here
.summaryData {
  position: relative;
  h2::before {
    width: 17%;
    top: 40px;
    @media screen and (max-width: 567px) {
      top: 32px;
    }
  }
  .arrowRight {
    color: #11b9db;
    font-size: 30px;
    margin-top: -4px;
  }
  p {
    margin-bottom: 4px;
  }
}
.professionalData {
  position: relative;
  h2::before {
    width: 40%;
    top: 40px;
    @media screen and (max-width: 567px) {
      top: 32px;
      width: 50%;
    }
  }
  .arrowRight {
    color: #11b9db;
    font-size: 30px;
    margin-top: -4px;
  }
  p {
    margin-bottom: 4px;
  }
  h5 {
    font-size: 16px;
    background: #e4edf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }
}
.educationData {
  position: relative;
  h2::before {
    width: 20%;
    top: 40px;
    @media screen and (max-width: 567px) {
      top: 32px;
    }
  }
  h5 {
    font-size: 16px;
    background: #e4edf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }
}
//resume page style start end

//portfolio page style start here
.portfolioData {
  position: relative;
  top: 0;
  background-color: #8ebbca;
  padding-bottom: 30px;
  h2::before {
    width: 9%;
    top: 60px;
    border-bottom: 3px solid #fff;
    @media screen and (max-width: 567px) {
      top: 60px;
    }
  }
}
//portfolio page style end here

//services page style start here
.serviceSummary {
  a {
    text-decoration: none;
    color: black;
    .iconData {
      float: left;
      margin-right: 12px;
      font-size: 50px;
      color: #8ebbca;
      border: 1px solid #8ebbca;
      border-radius: 50%;
      padding: 4px;
    }
    .iconData:hover {
      background-color: #8ebbca;
      color: #fff;
    }
    span {
      height: 100%;
      display: flow-root;
      h5 {
        font-size: 22px;
      }
    }
  }
}
//services page style end here
